/* Outline button for use within the docs */
body {
	font-size:13px;
}
.btn-outline {
	color: #E27D2D;
	background-color: transparent;
	border-color: #4d90fe;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
	color: #fff;
	background-color: #4d90fe;
	border-color: #4d90fe;
}
/* Inverted outline button (white on dark) */
.btn-outline-inverse {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
	color: #E27D2D;
	text-shadow: none;
	background-color: #fff;
	border-color: #fff;
}
/*
 * Share masthead with page headers 
 * Copy from todc-bootstrap docs.css
 */
.bs-docs-masthead,
.bs-docs-header {
	position: relative;
	padding: 30px 15px;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	background-color: #D3785B;
	background-image: -webkit-linear-gradient(top, #D3785B 0%, #CC803A 100%);
	background-image: linear-gradient(to bottom, #D3785B 0%, #CC803A 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3785B', endColorstr='#CC803A', GradientType=0);
}

.bs-docs-masthead .bs-docs-booticon {
	margin: 0 auto 30px;
}
.bs-docs-masthead h1 {
	font-weight: 300;
	line-height: 1;
	color: #fff;
}
.bs-docs-masthead .lead {
	margin: 0 auto 30px;
	font-size: 20px;
	color: #fff;
}
.bs-docs-masthead .lead-ms {
	margin: 0 auto 10px;
	font-size: 14px;
	color: #fff;
}
/*.bs-docs-masthead .version {
margin-top: -15px;
}*/
.bs-docs-masthead .btn.btn-slg {
	padding: 15px 30px;
	font-size: 20px;
}
@media (min-width: 480px) {
	.bs-docs-masthead .btn {
		width: auto;
}
}

@media (min-width: 768px) {
	.bs-docs-masthead {
		padding-top: 80px;
		padding-bottom: 80px;
}
.bs-docs-masthead h1 {
	font-size: 60px;
}
.bs-docs-masthead .lead {
	font-size: 24px;
}
.bs-docs-masthead .lead .prettyprint {
	font-size: 14px;
}

@media (min-width: 992px) {
	.bs-docs-masthead .lead {
		width: 80%;
		font-size: 30px;
}
.bs-docs-masthead .lead .prettyprint {
	font-size: 14px;
	}
}
.bs-docs-footer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	font-size: 14px;
	width: 100%;
	text-align: center;
}

/*
 *  * Page headers
 *   *
 *    * Jumbotron-esque headers at the top of every page that's not the homepage.
 *     */

/* Page headers */
.bs-docs-header {
	padding-top: 80px;
	margin-bottom: 20px;
	font-size: 20px;
	text-align: left;
}
.bs-docs-header h1 {
	margin-top: 0;
	color: #fff;
	}
.bs-docs-header p {
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.4;
}
.bs-docs-header .container {
	position: relative;
}

@media (min-width: 768px) {
.bs-docs-header {
	font-size: 24px;
	text-align: left;
	}
.bs-docs-header h1 {
	font-size: 35px;
	line-height: 1;
	}
}
@media (min-width: 992px) {
.bs-docs-header h1,
.bs-docs-header p {
	margin-right: 380px;
	}
}
